.App {
  margin: 0 auto;
  max-width: 950px;
}

.App-header {
  text-align: center;
  margin: 30px 0;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

body {
  background: linear-gradient(
    76.5deg,
    rgba(129, 253, 255, 0.295) 0.4%,
    rgba(255, 175, 207, 0.283) 49.8%,
    rgba(255, 207, 153, 0.267) 98.6%
  );
}

.App header {
  color: rgb(86, 86, 86);
  font-size: 45px;
  font-weight: bold;
  line-height: 1.5;
}

.App .App-link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(222, 53, 135);
  transition: all 150ms ease-in-out;
}

.App .App-link:hover {
  background: rgb(222, 53, 135);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}
